.calculadora-inferior {
  display: grid;
  grid-template-columns: 3fr 1fr;
  flex: 1;
  background: #152d35;
  z-index: 2;
  border-top: 2px solid #d4ecdd;
  border-radius: 0px 0px 30px 30px;
  padding: 34px;
  gap: 20px 30px;
}

.operadores-primario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #345b63;
  border-radius: 40px;
  /* padding: 20px; */
  color: #ffa800;
}

.valores-um {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.valores-dois {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.valores-tres {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.valores-quatro {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 20px;
}

.operadores-secundario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-column: 2 / -1;
  grid-row: 1 / 6;
  background: #345b63;
  /* padding: 20px; */
  border-radius: 40px;
  color: #ffa800;
}

#botao-igualdade {
  background: #275261;
  padding: 10px 33px;
  border-radius: 40px;
}

#botao-zero {
  flex: 3 1;
}
